<div class="container-fluid mt-3 pl-3 pr-3">
    <a *ngFor="let resguardo of resguardos" [routerLink]="['/reparaciones/detalles', {id: resguardo._id}]" style="outline: none; color: inherit;">
        <div class="orden" >
            <span class="norden">{{resguardo.orden}}</span>
            <span class="cliente">{{resguardo.cliente.nombre}} {{resguardo.cliente.apellidos}}</span>
            <div class="dispositivo">
                <span class="disp">{{resguardo.dispositivo.nombre}}</span>
                <span>{{resguardo.titulo}}</span>
            </div>
            <span class="estado">{{resguardo.estado}}</span>
            <span class="fecha">{{resguardo.fechacreacion | date:'short'}}</span>
            <span class="dias" *ngIf="getDays(resguardo.fechacreacion) as delta">{{delta | number:'1.0-0'}} Dias</span>
        </div>
    </a>
</div>


<button class="btn btn-lg btn-primary" id="botonNuevaOrden" (click)="ventanaCrear=true">Nueva Orden</button>
<h3 class="text-light" id="tituloComponente">Reparaciones</h3>
<app-nueva-reparacion *ngIf="ventanaCrear" (cerrarVentanaEvent)="cerrarVentana()" (crearReparacionEvent)="crear($event)"></app-nueva-reparacion>