.orden{
    background-color: rgb(199, 199, 199);
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 13px;
    height: 90px;
    width: 32.75%;
    float: left;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.norden{
    position: absolute;
    font-size: x-large;
    font-weight: bolder;
    top: 4px;
}

.cliente{
    position: absolute;
    top: 35px;
}

.dispositivo{
    position: absolute;
    top: 60px;
}

.disp{
    font-size: large;
    font-weight: bolder;
    margin-right: 7px;
}

.estado{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: large;
}

.dias{
    position: absolute;
    top: 27px;
    right: 10px;
    font-size: 20pt;
    font-weight: bold;
}

.fecha{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#centralWrapper{
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
}

#sideWrapper{
    padding-right: 100px;
}

#resguardosWrapper{
    overflow: auto;
}

#botonNuevaOrden{
    position: fixed;
    top: 9px;
    right: 10px;
    z-index: 10;
}

#pagination {
    display: inline-block;
    padding-top: 10px;
}
  
#pagination a {
color: black;
float: left;
padding: 6px 16px;
text-decoration: none;
border: 1px solid #ddd;
}

#pagination a.active {
background-color: rgb(66, 66, 66);
color: white;
border: 1px solid rgb(100, 100, 100);
}

#pagination a:hover:not(.active) {background-color: #ddd;}

#pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

#pagWrapper{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagebtn{
    user-select: none;
    background-color: rgb(200, 200, 200);
}

#opcionesWrapper{
    position: fixed;
    z-index: 10;
    top: 9px;
    right: 180px;
}

.opcionButton{
    padding: 6px 13px;
    padding-bottom: 10px;
    margin-left: 15px;
}

#searchBar{
    float: left;
    padding: 5px;
    width: 300px;
}

#resultWrapper{
    margin-top: 5px;
    position: relative;
    display: block;
    width: 100%;
}

.result{
    padding: 5px 10px;
    position: relative;
}

.result:hover{
    background-color: #007bff;
    color: white;
}

.resultnombre{
    background-color: yellow;
    max-width: 200px;
}

.resultorden{
    font-weight: bold;
    float: left;
    overflow: auto;
    margin-right: 15px;
}

#clickOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}