#sadtext{
    position: fixed;
    bottom: 100px;
    right: 80px;
    height: 25%;
}

#bgimg{
    min-width: 100%;
    min-height: 1080px;
    position: fixed;
    bottom: 0px;
}

hr{
    border: 3px solid white;
}
