@media (max-width: 500px){
    #sadtext{
        left: 5px;
    }

    #sadtext h1{
        font-size: 22pt !important;
    }

    #sadtext h2{
        font-size: 12pt !important;
    }
}

#sadtext{
    position: absolute;
    bottom: 100px;
    right: 80px;
    height: 25%;
    user-select: none;
    min-width: 410px;
}

#sadtext h1{
    font-size: 6vw;
}

#sadtext h2{
    font-size: 3vw;
}

#bgimg{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0px;
}

#comeback{
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: white;
    font-size: 32pt;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    outline: none;
}

hr{
    border: 0.2vw solid white;
    margin-top: 0.3vw;
}
