<div id="componente" *ngIf="rep">
<div id="titulo" style="position: relative;">
    <h1 style="float: left;">E234-{{rep.orden}}-R-C</h1>
    <h4 style="position: absolute; bottom: 1; left: 335px; margin: 0; margin-top: 20px;">{{rep.estado}}</h4>
</div>

<div id="centerwrapper" class="col-9" style="clear: left;">

    <div class="collapse-inf informacion" >
        <p (click)="general=!general">
            <b>INFORMACIÓN GENERAL</b>
        </p>
        <div>
            <table class="container-fluid info" [ngbCollapse]="general">
                <tr>
                    <td>Orden de trabajo</td>
                    <td>E234-{{rep.orden}}-R-C</td>
                </tr>
                <tr>
                    <td>Identificador</td>
                    <td>{{rep._id}}</td>
                </tr>
                <tr>
                    <td>Fecha de creación</td>
                    <td>{{rep.fechacreacion | date:'medium'}}</td>
                </tr>
                <tr>
                    <td>Taller</td>
                    <td>{{rep.taller}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="collapse-inf informacion" >
        <p (click)="orden=!orden">
            <b>ORDEN</b>
        </p>
        <div>
            <table class="container-fluid info" [ngbCollapse]="orden">
                <tr>
                    <td>Estado</td>
                    <td>{{rep.estado}}</td>
                </tr>
                <tr>
                    <td>Procedimiento</td>
                    <td>{{rep.titulo}}</td>
                </tr>
                <tr>
                    <td>Descripción del problema</td>
                    <td>{{rep.descripcion}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="collapse-inf informacion">
        <p (click)="cliente=!cliente">
            <b>CLIENTE</b>
        </p>
        <div>
            <table class="container-fluid info" [ngbCollapse]="cliente">
                <tr>
                    <td>Nombre</td>
                    <td>{{rep.cliente.nombre}}</td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>{{rep.cliente.apellidos}}</td>
                </tr>
                <tr>
                    <td>Dirección y numero</td>
                    <td>{{rep.cliente.calle}} {{rep.cliente.numero}}</td>
                </tr>
                <tr>
                    <td>Código postal y Ciudad</td>
                    <td>{{rep.cliente.codigopostal}} {{rep.cliente.ciudad}}</td>
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td>{{rep.cliente.telefono}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{rep.cliente.correo}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="collapse-inf informacion">
        <p (click)="dispositivo=!dispositivo">
            <b>DISPOSITIVO</b>
        </p>
        <div>
            <table class="container-fluid info" [ngbCollapse]="dispositivo">
                <tr>
                    <td>Terminal</td>
                    <td>{{rep.dispositivo.nombre}}</td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td>{{rep.dispositivo.marca}}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{rep.dispositivo.estado.join(', ')}}</td>
                </tr>
                <tr>
                    <td>Accesorios</td>
                    <td>{{rep.dispositivo.accesorios.join(', ')}}</td>
                </tr>
                <tr>
                    <td>Numero de Serie</td>
                    <td>{{rep.dispositivo.sn}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="collapse-inf informacion">
        <p (click)="costes=!costes">
            <b>COSTES</b>
        </p>
        <div>
            <table class="container-fluid info" [ngbCollapse]="costes">
                <tr *ngFor="let coste of rep.costes">
                    <td>{{coste.servicio}}</td>
                    <td>{{coste.coste | currency:' '}}€</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div id="sidewrapper"class="col-3">
    <div id="opciones" class="collapse-inf" >
        <p (click)="opciones=!opciones">
            <b>OPCIONES</b>
        </p>
        <div [ngbCollapse]="opciones">
            <button type="button" class="btn btn-warning boton" (click)="editar('orden')">Editar Orden</button>
            <button type="button" class="btn btn-warning boton" (click)="editar('cliente')">Editar Cliente</button>
            <button type="button" class="btn btn-warning boton" (click)="editar('dispositivo')">Editar Dispositivo</button>
            <button type="button" class="btn btn-warning boton" (click)="editar('costes')">Editar Costes</button>
        </div>
    </div>
</div>

<div class="logs container-fluid">
    <div class="collapse-inf">
        <p (click)="historial=!historial">
            <b>HISTORIAL DE CAMBIOS</b>
        </p>
        <div [ngbCollapse]="historial">
            <div class="log" *ngFor="let log of rep.log.reverse()">
                <h3>{{log.mensaje}}</h3>
                <b>{{log.usuario}}</b>
                <span style="float: right; margin-right: 10px;">{{log.fecha | date:'medium'}}</span>
            </div>
        </div>
    </div>
    
</div>
</div>

<app-editar-reparacion *ngIf="editable" [target]="edittarget" [orden]="rep" (actualizacionEvent)="actualizar($event)" (cerrarVentanaEvent)="cerrarVentana()"></app-editar-reparacion>