<div *ngIf="facturas">
    <div *ngFor="let factura of facturas.reverse()" class="facturaWrapper">
        <a [routerLink]="['/facturas/detalles', {id: factura._id}]" style="outline: none;">
            <div class="factura">
                <img src="http://localhost:3000/static/img/{{factura.distribuidor}}.jpg" alt="">
                <h3>{{factura.distribuidor}}</h3>
                <div class="fechafactura">{{factura.fecha | date: 'dd/MM/yyyy'}}</div>
                <h2>{{getTotal(factura) | currency: '':''}}€</h2>
            </div>
        </a>
    </div>
</div>

<button class="btn btn-lg btn-primary" id="botonNuevaFactura" (click)="ventanaCrear=true">Nueva Factura</button>
<app-nueva-factura *ngIf="ventanaCrear" (cerrarVentanaEvent)="cerrarVentana()"></app-nueva-factura>