@media (min-width: 1850px) {
    
    .facturaWrapper{
        width: 20%;
    }
}

@media (min-width: 1500px) and (max-width: 1850px) {
    
    .facturaWrapper{
        width: 25%;
    }
}

@media (min-width: 1100px) and (max-width: 1500px) {
    
    .facturaWrapper{
        width: 33.333333%;
    }
}

@media (max-width: 1100px) {
    
    .facturaWrapper{
        width: 50%;
    }
}

@media (max-width: 730px) {
    
    .facturaWrapper{
        width: 100%;
    }
}

@media (max-width: 1150px) {
    
    #distribuidorWrapper{
        display: none;
    }
}

@media (max-width: 750px) {
    
    #searchBar{
        display: none;
    }
}

@media (max-width: 510px) {
    
    #botonNuevaFactura{
        left: 325px;
        white-space: nowrap;
    }
}

.facturaWrapper{
    float: left;
    padding: 7px 10px;
}


.factura{
    height: 120px;
    border-radius: 7px;
    position: relative;
    background-color: rgb(70, 70, 70);
}

.factura img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.factura h3{
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.fechafactura{
    position: absolute;
    top: 45px;
    right: 20px;
    color: white;
    font-style: italic;
}

.factura h2{
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    font-style: italic;
    font-weight: bolder;
}

#botonNuevaFactura{
    position: fixed;
    top: 8px;
    right: 10px;
    z-index: 10;
}

#facturas{
    overflow: auto;
    min-width: 500px;
}

#pagination {
    display: inline-block;
    padding-top: 10px;
}
  
#pagination a {
color: black;
float: left;
padding: 6px 16px;
text-decoration: none;
border: 1px solid #ddd;
}

#pagination a.active {
background-color: rgb(66, 66, 66);
color: white;
border: 1px solid rgb(100, 100, 100);
}

#pagination a:hover:not(.active) {background-color: #ddd;}

#pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

#pagWrapper{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagebtn{
    user-select: none;
    background-color: rgb(200, 200, 200);
}

#distribuidorWrapper{
    position: fixed;
    z-index: 10;
    top: 8px;
    right: 450px;
}

.distribuidorButton{
    padding: 3px;
    margin-left: 10px;
}

.distribuidorButton img{
    width: 40px;
    height: 40px;
}

#searchBar{
    float: right;
    margin-left: 20px;
    position: fixed;
    top: 13px;
    right: 200px;
    z-index: 8;
}