<div id="facturas" *ngIf="facturas">
    <div *ngFor="let factura of facturas" class="facturaWrapper">
        <a [routerLink]="['/facturas/detalles', {id: factura._id}]" style="outline: none;">
            <div class="factura">
                <img src="http://localhost:3000/static/img/{{factura.distribuidor}}.jpg" />
                <h3>{{factura.distribuidor}}</h3>
                <div class="fechafactura">{{factura.fecha | date: 'dd/MM/yyyy'}}</div>
                <h2>{{getTotal(factura) | currency: '':''}}€</h2>
            </div>
        </a>
    </div>
</div>

<div id="pagWrapper" *ngIf="visiblePages.length > 0">
    <div id="pagination">
        <a class="pagebtn" (click)="changePag(-1)">&laquo;</a>
        <a *ngFor="let page of visiblePages; index as i" (click)="gotopage(i)" [ngClass]="{'active': page-1 == selectedPage}">{{page}}</a>
        <a class="pagebtn" (click)="changePag(1)">&raquo;</a>
    </div>
</div>

<div id="distribuidorWrapper">
    <button *ngFor="let distribuidor of distribuidores" (click)="toggleDistribuidor(distribuidor.nombre)" [ngClass]="selectedDistribuidores.includes(distribuidor.nombre) ? 'btn-primary' : 'btn-danger'" class="distribuidorButton btn btn-lg" title="{{distribuidor.nombre}}">
        <img src="http://localhost:3000/static/img/{{distribuidor.nombre}}.jpg" />
    </button>
</div>

<button class="btn btn-lg btn-primary" id="botonNuevaFactura" (click)="ventanaCrear=true">Nueva Factura</button>
<app-nueva-factura *ngIf="ventanaCrear" (cerrarVentanaEvent)="cerrarVentana()"></app-nueva-factura>