@media (max-width: 950px){
    #buttonWrapper{
        left: 499px;
        width: 451px;
    }
}

#topWrapper{
    position: relative;
    height: 180px;
}

#topWrapper img{
    height: 160px;
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
}

#topWrapper h1{
    position: absolute;
    top: 30px;
    left: 200px;
    font-weight: bolder;
    width: calc(520px + (100% - 950px));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#topWrapper h2{
    position: absolute;
    bottom: 50px;
    left: 200px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#topWrapper h3{
    position: absolute;
    top: 30px;
    right: 80px;
    font-style: italic;
}

#topWrapper h4{
    position: absolute;
    top: 70px;
    right: 80px;
    font-style: italic;
}

#topWrapper p{
    position: absolute;
    top: 120px;
    left: 200px;
}

#bottomWrapper{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#buttonWrapper{
    position: fixed;
    top: 13px;
    right: 3px;
    z-index: 10;
}

#buttonWrapper button{
    margin-right: 13px;
}

#redbutton{
    margin-left: 20px;
}

#contentWrapper{
    overflow: auto;
    min-width: 950px;
}
